algoliasearch==1.17.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
cloudant==2.4.0
decorator==4.3.0
Flask==1.0.2
future==0.16.0
geocoder==1.38.1
idna==2.7
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
passlib==1.7.1
PyJWT==1.6.4
pymongo==3.7.2
PySocks==1.6.8
pytz==2018.5
ratelim==0.1.6
requests==2.20.0
six==1.11.0
twilio==6.19.1
urllib3==1.24
virtualenv==16.0.0
Werkzeug==0.14.1
